@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "NotoSansKR";
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

a:hover {
  text-decoration: underline;
}
.depth1 {
  text-decoration: none !important;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.container nav {
  position: fixed;
  width: 100%;
  background: transparent;
  height: 6.25rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}
.container nav > ul {
  display: flex;
  height: 6.25rem;
  justify-content: center;
  overflow: hidden;
  transition: height 0.4s;
  background: transparent;
  z-index: 1000;
}
.depth1 {
  display: block;
  padding: 42px 40px;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-size: 1rem;
  z-index: 1000;
}
.container nav > ul > li > ul > li > a {
  display: block;
  padding: 10px 35px 15px 38px;
  line-height: 20px;
  text-align: center;
  height: 20px;
  font-size: 0.75rem;
  z-index: 1000;
}

.container nav > ul > li > ul > li {
  padding-top: 5px;
}
.contents {
  width: 100%;
}

.sub-shadow {
  position: fixed;
  width: 100%;
  height: 0;
  background: #fff;
  z-index: 10;
  top: 6.25rem;
  left: 0;
}

.sub-shadow.active {
  height: 9.375rem;
}
.container nav > ul > li > ul {
  height: 0;
}
.container nav > ul > li:hover > ul {
  height: 6.25rem;
}

.container nav > ul.active {
  height: 15.625rem;
}
.depth li {
  position: relative;
}
.depth.active {
  height: 15.625rem;
}

.depth1:after {
  /*after 가상요소*/
  display: block; /*a요소를 블록 요소라고 선언*/
  width: 50%;
  content: "";
  position: absolute;
  top: 100px;
  border-bottom: solid 1px #000000;
  transform: translate(-50%, 0);
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 0.2s ease; /*변형 방식*/
}
.d3::after {
  /*after 가상요소*/
  display: block; /*a요소를 블록 요소라고 선언*/
  width: 50%;
  content: "";
  position: absolute;
  top: 100px;
  left: 32px;
  border-bottom: solid 1px #000000;
  transform: translate(-50%, 0);
  transform: scaleX(0); /*크기를 0으로 줌으로써 평상시엔 밑줄 없음*/
  transition: transform 0.2s ease; /*변형 방식*/
}
.depth1:hover:after {
  transform: scaleX(0.8); /*a 속성에 hover시 기존 크기로*/
}

.logo {
  margin-left: 8%;
}
.logo img {
  width: 12.5rem;
  height: 2.75rem;
  margin-top: 0.9375rem;
}

.nav_sns li img {
  width: 2.0625rem;
  height: 2.0625rem;
  border: 3px solid #000;
  border-radius: 50%;
  padding: 3px;
  display: block;
  text-align: center;
  align-items: center;
}
.nav_sns li {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 50%;
}
.nav_sns li:nth-child(1):hover {
  background: #fdd000;
}
.nav_sns li:nth-child(2):hover {
  background: #fdd000;
}
.nav_sns li:nth-child(3):hover {
  background: #fdd000;
}
.nav_sns {
  margin-top: 1.5%;
  margin-right: 5%;
  width: 300px !important;
}

.menu-trigger,
.menu-trigger span {
  display: none;
  transition: all 0.4s;
  box-sizing: border-box;
}

.menu-trigger {
  margin-top: 30%;
  margin-left: 3%;
  position: relative;
  width: 22px;
  height: 22px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 22px;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 5px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 10px;
}

/* type-01 */
/* 중앙 라인이 고정된 자리에서 투명하게 사라지며 상하라인 회전하며 엑스자 만들기 */
/* .menu-trigger.active-1 span:nth-of-type(1) {
  top: 5px;
  transform: translateY(0px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  top: 15px;
  transform: translateY(-10px) rotate(45deg);
} */
.side_wrap {
  top: 0;
  width: 100%;
  position: fixed;
  left: 100%;
  z-index: 2000;
}
.right_sied_menu {
  background: #222;
  padding: 60px;
  z-index: 2000;
}
.logo_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo_n {
  text-align: center;
  margin-bottom: 60px;
}
.logo_n img {
  width: 200px;
  height: 40px;
}
.menu_wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu-trigger2 span {
  position: absolute;
  right: 10%;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
}

.menu-trigger2 span:nth-of-type(1) {
  top: 0;
  transform: translateY(0px) rotate(-45deg);
}

.menu-trigger2 span:nth-of-type(2) {
  top: 5px;
  transform: translateY(-5px) rotate(45deg);
}

.menu_wrap > li {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: flex-start;
  align-items: baseline;
  vertical-align: top;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.menu_wrap > li > a {
  width: 200px;
  font-weight: bold;
  font-size: 1.0625rem;
  align-items: baseline;
  color: #fff;
}
.depth2 li {
  width: 7.125rem;
  height: 1.25rem;
  font-size: 0.875rem;
  margin-bottom: 5px;
}
.depth2 li a {
  color: #aaa;
}
.section1 {
  position: fixed;
  top: 30%;
  right: 2%;
  z-index: 50;
}
.section1 li:hover {
  background: #fdd000;
}
.section1 li a:hover {
  color: #1c1c1b;
  text-decoration: none;
}
.section1 ul li {
  padding: 10px;
  text-align: center;
  background: #000;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}
.section1 ul li a {
  width: 100%;
  display: inline-block;
  position: absolute;
  transform: translate(-50%, 30%);
  color: #fff;
  text-align: center;
}
.section1 ul li a div {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  text-align: center;
}
.under_t {
  display: inline-block;
  margin-top: 5px;
  width: 100px;
  position: absolute;
  transform: translate(-50%, 30%);
  font-weight: bold;
  font-size: 16px;
}
.img_slider {
  width: 100%;
  height: 100vh;
}
.section3 {
  width: 100%;
  height: 969px;
  position: absolute;
  top: 969px;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 8px !important;
  background: #fff !important;
  border-radius: 100px !important;
  opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
  width: 48px !important;
  border-radius: 5px !important;
  opacity: 1 !important;
}

.left_menu {
  position: fixed;
  bottom: 5%;
  left: 2%;
  z-index: 60;
}
.left_menu li {
  list-style: none;
  margin-top: 20px;
}

.left_menu li a {
  color: #c8c8bf;
  text-decoration: none;
}

.scrollme {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 95%;
  left: 50%;
  z-index: 560;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: moveUpDown 2s infinite;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.scrollme i {
  color: #777879;
  margin-bottom: 15px;
  font-size: 24px;
}
.scrollme span {
  color: #c8c8bf;
}
@keyframes moveUpDown {
  0%,
  100% {
    opacity: 0.1;
    transform: translate(-50%, -40%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -60%);
  }
}
.wrap_body1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.section4 {
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  z-index: 1;
  display: flex;
  align-items: center;
}
.cont50 {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cont50-2 {
  width: 50%;
  height: 100%;
  display: flex;
  z-index: 880;
  align-items: center;
  justify-content: center;
}

.cont50 .title {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: noto;
}
.contents_se2 h3 {
  font-size: 52px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.contents_se2 h3:before {
  transition: All 1s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  content: "";
  position: absolute;
  background: #fdd000;
  padding: 0px;
  width: 0%;
  height: 50%;
  z-index: -1;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contents_se2.before-width-100 h3:before {
  width: 100%;
}

.tit_under:before {
  transition: All 1s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  content: "";
  position: absolute;
  background: #fdd000;
  padding: 0px;
  width: 0%;
  height: 50%;
  z-index: -1;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.tit_under.before-width-100:before {
  width: 100%;
}

.prodectAbout span {
  display: block;
  font-size: 22px;
  margin-bottom: 20px;
}
.prodectAbout p {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #1c1c1b;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: normal;
  word-break: keep-all;
}

.btn_y {
  margin-top: 40px;
  background: #fdd000;
  display: block;
  color: #1c1c1b;
  width: 150px;
  height: 50px;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  font-family: "Noto Sans kr", sans-serif;
  border: 1px solid #e0e0e0;
  font-weight: bold;
  cursor: pointer;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -ms-transition: All 0.2s ease;
  overflow: hidden;
  position: relative;
}
.btn_y:hover {
  top: -10px;
  background: #ffdf43;
}
.swiper-slide-active .img_list {
  height: 66%;
}
.cont50-2 .swiper {
  height: 100%;
}
.cont50-2 .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* 이미지가 넘치지 않도록 영역을 벗어나는 부분을 숨깁니다. */
}

.cont50-2 .swiper-slide img {
  width: 50% !important; /* 이미지를 슬라이드 영역에 가득 채우기 위해 너비를 100%로 설정합니다. */
  height: 50% !important; /* 이미지의 높이는 자동으로 조정됩니다. */
  object-fit: cover !important; /* 이미지 비율을 유지하며 영역에 맞게 조정합니다. */
}
.img_list {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid #aaa;
  align-content: center;
  border-radius: 5%;
}
.text_wrap {
  padding: 8%;
  display: block;
  border-collapse: collapse;
  width: 100%;
  height: 40%;
  line-height: 50%;
  text-align: left;
  background: #f4f6f8;
  border-radius: 0 0 13% 13%;
  display: none;
}
.title_pro {
  font-size: 22px;
  font-weight: bold;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 30px;
}
.title_pro1 {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 25px;
  margin-top: 5px;
}
.pro_content {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 5px;
  margin-top: 25px;
}

.swiper-button-next,
.swiper-button-prev {
  top: 20%;
  left: 55%;
  color: #363636;
}
.swiper-button-next {
  margin-left: 70px;
}
.section5 {
  height: 100vh;
  width: 100%;
  background: #fdd000;
  display: flex;
}
.cell50 {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.cell50-2 {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.text_cell {
  width: 50%;
  display: block;
  margin: 15px 0;
  font-size: 24px;
  position: relative;
}
.cell50 h2 {
  display: block;
  width: 50%;
  font-size: 60px;
  font-weight: bold;
}
.celltit {
  width: 50%;
  margin-top: 10px;
  display: block;
  margin-bottom: 30px;
}
.celltit1 {
  width: 50%;
  display: block;
  margin-bottom: 30px;
}
.celltit2 {
  width: 55%;
  display: block;
  margin-bottom: 30px;
}
.celltit1 strong {
  font-size: 20px;
  font-weight: 500;
}
.celltit1 span {
  font-size: 20px;
  font-weight: 500;
}
.celltit strong {
  font-size: 48px;
  font-weight: bold;
}
.celltit span {
  display: inline-block;
  font-size: 24px;
  font-weight: 600;
}
.celltit2 strong {
  font-size: 16px;
}
.cell50 h2 {
  position: relative;
  z-index: 3;
}
.cell50 h2 span:before {
  transition: All 0.4s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  content: "";
  position: absolute;
  background: #ffffff;
  padding: 0px;
  width: 0%;
  height: 33%;
  z-index: -1;
  top: 86%;
  left: 28%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cell50.before-width-63 h2 span:before {
  width: 63%;
}
.section6 {
  height: 100vh;
  width: 100%;
  background: rgb(255, 255, 255);
  display: flex;
}
.cell5 {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  position: relative;
}
.cell5-i {
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.cell5-i img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
.sec6_cell_t {
  font-size: 24px;
  margin-bottom: 20px;
}
.sec6_cell_tm {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.sec6_cell_tm:before {
  transition: All 1s ease;
  -webkit-transition: All 0.4s ease;
  -moz-transition: All 0.4s ease;
  -o-transition: All 0.4s ease;
  content: "";
  position: absolute;
  background: #fdd000;
  padding: 0px;
  width: 0%;
  height: 25%;
  z-index: -1;
  top: 90%;
  left: 46%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.sec6_c {
  font-size: 22px;
  margin-bottom: 20px;
}
.sec6_c2 {
  font-size: 16px;
  position: relative;
}
.cell5 .btn_y {
  position: absolute;
  top: 66%;
  left: 17%;
}
.btn_y2:hover {
  background: #ffdf43;
}
.btn_y2 {
  top: 66%;
  left: 50%;
  margin-top: 40px;
  background: #fdd000;
  display: block;
  color: #1c1c1b;
  width: 150px;
  height: 50px;
  padding: 5px;
  line-height: 50px;
  text-align: center;
  font-family: "Noto Sans kr", sans-serif;
  border: 1px solid #e0e0e0;
  font-weight: bold;
  cursor: pointer;
  transition: All 0.2s ease;
  -webkit-transition: All 0.2s ease;
  -o-transition: All 0.2s ease;
  -ms-transition: All 0.2s ease;
  overflow: hidden;
  position: absolute;
}
.footer {
  height: 100vh;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title_e {
  margin-top: 50px;
  font-size: 24px;
  color: #1c1c1b;
  margin-bottom: 20px;
}
.tit_under {
  font-size: 60px;
  color: #1c1c1b;
  font-weight: 900;
  margin-bottom: 23px;
  position: relative;
  z-index: 5;
}
.list_wrap {
  display: flex;
  padding: 80px;
}
.Event_list {
  width: 33%;
  height: 100%;
  max-width: 300px;
  margin-right: 20px;
  border-collapse: collapse;
  max-height: 300px;
}

.Event_list img {
  width: 100%;
  height: 100%;
}
.txt1 {
  margin-top: -2px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-radius: 0 0 5% 5%;
}
.txt1 span {
  font-size: 18px;
  font-weight: 300;
}
.txt1 p {
  text-align: left;
  margin-top: 50px;
  font-size: 12px;
}

.morep {
  margin-top: 150px;
}

.left_menu ul li a.active {
  font-weight: bold;
  color: #000;
  /* 추가적인 스타일 지정 가능 */
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.contents_se2.animate {
  opacity: 0;
  animation: slideInUp 1s ease-in-out forwards;
  animation-play-state: running;
}
.prodectAbout.animate {
  opacity: 0;
  animation: slideInUp 1s ease-in-out forwards;
  animation-play-state: running;
}

.text_cell.animate {
  opacity: 0;
  animation: slideInUp 0.5s ease-in-out forwards;
  animation-play-state: running;
}
.celltit.animate {
  opacity: 0;
  animation: slideInUp 0.8s ease-in-out forwards;
  animation-play-state: running;
}
.celltit1.animate {
  opacity: 0;
  animation: slideInUp 1s ease-in-out forwards;
  animation-play-state: running;
}
.celltit2.animate {
  opacity: 0;
  animation: slideInUp 1s ease-in-out forwards;
  animation-play-state: running;
}
.sec6_cell_t.animate {
  opacity: 0;
  animation: slideInUp 1.2s ease-in-out forwards;
  animation-play-state: running;
}
.sec6_cell_tm.before-width-80:before {
  width: 100%;
}
.sec6_c.animate {
  opacity: 0;
  animation: slideInUp 1.8s ease-in-out forwards;
  animation-play-state: running;
}
.sec6_c2.animate {
  opacity: 0;
  animation: slideInUp 2.2s ease-in-out forwards;
  animation-play-state: running;
}

.hfooter {
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
}

.yellow-line {
  width: 100%;
  height: 50px;
  background: #fdd000;
  color: #1c1c1b;
  font-weight: bold;
}
.yellow-line ul {
  display: flex;
  align-items: center;
}
.yellow-line li {
  line-height: 50px;
  margin-left: 50px;
  margin-right: 0px;
}
.footer_wrap {
  padding: 60px 20px;
  flex-direction: column;
  margin-left: 300px;
}
.flogo {
  display: flex;
  margin-bottom: 20px;
}
.flogo img {
  width: 180px;
  height: 37px;
  margin-right: 20px;
}
.flogo ul li {
  width: 33px;
  height: 33px;
  background: #fff;
  border-radius: 50%;
  margin-right: 5px;
}
.flogo ul li img {
  width: 33px;
  height: 33px;
  background-size: cover;
}
.flogo ul {
  display: flex;
  align-items: center;
}
.fcompy {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
}
.footer_wrap {
  display: flex;
  width: 50%;
  height: 100%;
}
.fcompy li {
  margin-bottom: 15px;
}
.fcompy {
  color: #fff;
}
.footer1de {
  display: flex;
  color: #fff;
  width: 50%;
  justify-content: space-between;
  margin-top: 80px;
  align-items: baseline;
  margin-right: 150px;
}
.depthf-1 {
  font-size: 17px;
  font-weight: bold;
}

.footer1de li ul li {
  margin-top: 20px;
}
@media screen and (max-width: 1280px) {
  .section1 {
    display: none;
  }
  body {
    position: none;
    width: 100%;
    left: 0;
    padding-top: 0 !important;
    margin-left: 0;
    font-size: 13px;
  }
  .container nav {
    height: 80px;
  }
  nav > ul > li:not(.nav_sns li) {
    display: none;
  }
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    margin-right: 0;
  }
  .container nav > ul {
    height: 5rem;
  }
  .nav_sns {
    margin-top: 1%;
    margin-right: 0;
  }
  .logo img {
    height: 40px;
  }
  .logo {
    margin-top: 0.1%;
    margin-right: 0;
    margin-left: 1%;
  }

  .swiper-slide {
    height: 100%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .cont50 {
    width: 40%;
    margin-left: 70px;
  }
  .cont50-2 {
    width: 60%;
  }
  .cont50 .title {
    font-size: 16px;
  }
  .cont50 h3 {
    font-size: 43px;
    text-align: center;
  }
  .prodectAbout strong {
    font-size: 18px;
    font-weight: bold;
  }
  .prodectAbout p {
    font-size: 13px;
    color: #aaa;
  }
  .tebr {
    visibility: hidden;
  }
  .cell50 h2 {
    font-size: 50px;
  }
  .cell50 {
    width: 70%;
  }
  .cell50-2 {
    width: 30%;
  }
  .sec6_cell_t {
    font-size: 20px;
  }
  .sec6_cell_tm {
    font-size: 50px;
  }
  .sec6_c {
    font-size: 18px;
  }
  .sec6_c2 {
    font-size: 13px;
  }
  .cell5 .btn_y,
  .cell5 .btn_y2 {
    display: none;
  }
  .footer1de {
    display: none;
  }
}

@media screen and (max-width: 760px) {
  .section1 {
    display: none;
  }
  .container nav {
    height: 40px;
    justify-content: space-between;
  }
  .logo img {
    width: 150px;
    height: 30px;
  }
  .logo {
    margin-top: -1.5%;
    margin-right: 0;
    margin-left: 1%;
  }
  .nav_sns li img {
    display: none;
  }
  .nav_sns li:not(:last-child) {
    display: none;
  }
  .openBtn {
    position: absolute;
    top: 0px;
    right: 0%;
  }

  .side_wrap {
    width: 100%;
    position: fixed;
    left: 100%;
    height: 100vh;
    top: 0;
  }
  .right_sied_menu {
    background: #222;
    padding: 50px;
    z-index: 2000;
  }
  .logo_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .logo_n {
    text-align: center;
    margin-bottom: 60px;
  }
  .logo_n img {
    width: 200px;
    height: 40px;
  }
  .menu_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .menu-trigger2 span {
    position: absolute;
    right: 10%;
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .menu-trigger2 span:nth-of-type(1) {
    top: 0;
    transform: translateY(0px) rotate(-45deg);
  }

  .menu-trigger2 span:nth-of-type(2) {
    top: 5px;
    transform: translateY(-5px) rotate(45deg);
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-slide img {
    max-width: 100%;
    max-height: 100%;
    background-position: center center !important;
    background-size: cover !important;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .cont50 {
    width: 100%;
  }
  .cont50-2 {
    width: 100%;
  }
  .section4 {
    flex-direction: column;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .text_wrap {
    display: block;
  }
  .title_pro {
    margin: 0;
    font-size: 10px;
  }
  .title_pro1 {
    margin: 0;
    font-size: 8px;
  }
  .pro_content {
    margin: 5px;
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .section5 {
    flex-direction: column;
    align-items: center;
  }
  .cell50 {
    height: 50vh;
  }
  .cell50-2 {
    height: 50vh;
  }
  .text_cell {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .cell50 h2 {
    width: 100%;
    font-size: 34px;
  }
  .celltit strong {
    font-size: 32px;
  }
  .celltit {
    width: 100%;
    margin-bottom: 30px;
  }
  .celltit span {
    font-size: 14px;
  }
  .celltit1 {
    margin-bottom: 30px;
    font-size: 12px;
    width: 100%;
  }
  .celltit1 strong {
    font-size: 12px;
  }
  .celltit1 span {
    font-size: 12px;
  }
  .celltit2 {
    width: 100%;
    font-size: 12px;
  }

  .section6 {
    flex-direction: column;
    align-items: center;
  }
  .cell5 {
    width: 100%;
  }
  .cell5-i {
    width: 100%;
    opacity: 0.2;
  }
  .title_e {
    margin-top: 150px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .tit_under {
    font-size: 32px;
    color: #1c1c1b;
    font-weight: 900;
    margin-bottom: 0px;
  }

  .list_wrap {
    width: 100%;
    display: flex;
    padding: 80px;
    flex-wrap: wrap;
  }
  .Event_list {
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 700px;
    margin-bottom: -150px;
  }

  .Event_list img {
    flex: 10%;
    width: 50%;
    height: 50%;
  }

  .txt1 {
    width: 100%;
    padding: 30px;
    background: #ffffff;
    border-radius: 0;
  }

  .txt1 span {
    font-size: 18px;
    font-weight: 300;
  }
  .txt1 p {
    text-align: left;
    margin-top: 50px;
    font-size: 12px;
  }

  .morep {
    margin-top: 10px;
  }
  .footer_wrap {
    margin-left: 20%;
  }
}
